.blink {
    animation: blinker 1.25s linear infinite;
  }
  
  @keyframes blinker {
    5% {
      opacity: 0;
    }
  }
  #principal {
    width:650px;
    margin: 0 auto 0 auto;
    background-color: #ffCD68;
    float: left;
   }
  